$pink-color : #E91E63;
* {
    list-style-type: none;
    margin: 0;
    text-decoration: none;
    padding: 0;
    color: black;
    font-family: 'Rubik', sans-serif,Arial, 'Helvetica Neue', Helvetica, sans-serif

}



body {
    background: whitesmoke;
}

.mobile-nav {
    display: flex;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 30px;
}

.menuResp {
   
    display: none;
    flex-direction: column;
}

.menuResp > li  {
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 2px solid #E91E63;
    font-size: 18px;
    width: 35%;
    text-align: left;
}


.largeScreen-nav {
    padding: 10px;
    font-size: 18px;
    display: none;
    margin-bottom: 30px;
}

.submenu, .icons > a, .mobile-nav > a{
    padding: 0 10px;
}


div.fa.fa-bars, .menu {
    flex: 1;
    color: black;
}


h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
    cursor: pointer;
}

.fa.fa-venus-mars, a.fa.fa-angle-down {
    color: $pink-color;
    font-weight: bold;
    
}

.sortedBy {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1.5px solid lightgray;
    
}

.sortedBy > p {
    padding: 0 10px;
}

figure {
    padding: 20px 10px;
    border: 2px solid #E91E63;
    margin-top: 5%;
    opacity: 0;
    width: 100%;
}



img {
    width: 100%;
    height: auto;
}

.subFig {
    display: flex;
    justify-content: space-between;
   
}

.subFig > p {
    color: #696767;
    padding: 10px 0 0 0;
}
.content {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    flex-basis: 49%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    
}
/* -------TABLET ------*/
@media only screen 
and (min-device-width: 600px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .largeScreen-nav { 
        display: flex;
        font-size: 20px;

    }
    .mobile-nav {
        display: none; 
    }

    .col {
        flex-basis: 33%;
    }


}


/* -------NOTEBOOK ------*/
@media screen 
and (min-device-width: 1024px) 

and (-webkit-min-device-pixel-ratio: 1) { 

    .largeScreen-nav { 
        display: flex;

    }
    .mobile-nav {
        display: none; 
    }

    .col {
        flex-basis: 24%;
    }
 
}

/* -------LARGE SCREEN ------*/
@media only screen and (min-width: 1281px) {
    .col {
        flex-basis: 16%;
    }

    img {
        width: 220px;
        height: 330px;
    }

    .content {
        justify-content: space-between;
    }
  }
  
